---
import Layout from '../layouts/Main.astro';
---

<Layout title="Ølen Gjestegård AS">
	<main>
		<h1 class="text-center">Velkommen til oss!</h1>
		<h2>Overnatting og kafé</h2>
		<p>
			Adresse: Dreganesvegen 7, 5580 Ølen.<br>Telefon: <a class="text-indigo-500" href="tel:+4753766100">53 76 61 00</a><br>E-post: <a class="text-indigo-500" href="mailto:post@olengjestegard.no">post@olengjestegard.no</a>.
		</p>
	</main>
</Layout>

<style>
	h1 {
		font-size: 2.2rem;
		margin: 10px 0;
	}

	h2 {
		font-size: 1.5rem;
		margin: 10px 0;
	}

	p {
		margin: 10px 0;
	}

</style>
