---
---

<nav class="py-2 bg-amber-700">
    <div class="md:container md:mx-auto text-white flex justify-between items-center p-4">
        <div class="text-2xl">Ølen Gjestegård</div>
        <ul class="flex gap-5">
            <!-- <li>Hjem</li>
            <li>Kontakt</li> -->
        </ul>
    </div>
</nav>

<style>
    ul {
        margin: 0;
    }
</style>