---
export interface Props {
	title: string;
}

const { title } = Astro.props;

import Nav from "../components/Nav.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
		<title>{title}</title>
	</head>
	<body>
		<Nav />
		<article class="md:container px-4 md:mx-auto"><slot /></article>
	</body>
</html>
<style is:global>
	:root {

	}

	body {
		margin: 0;
		font-family: 'Raleway', sans-serif;
		font-size: 18px;
	}

	article {
		margin: 20px 0 20px 0;
	}
</style>
